@tailwind base;

@tailwind components;

@tailwind utilities;

body, html {
    @apply bg-ym-light-black;
}

/* YziMusic Input */
.input {
    @apply mt-2 bg-ym-black rounded-lg py-2 px-4 block w-full appearance-none leading-normal text-white;
    font-weight: 500;
}

.input:focus {
    @apply outline-none shadow-outline;
}
.input::placeholder {
    color: rgba(255, 255, 255, .25);
}

/* YziMusic label */
.label {
    @apply text-white font-bold uppercase text-sm;
}


.checkbox {
    @apply rounded mr-2 form-checkbox h-5 w-5 text-main;
}

.checkbox:checked {
    border-color: transparent;
    background-size: 100% 100%;
    background: currentColor url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e") no-repeat center;
}
.checkbox:focus {
    outline: none;
}

.btn-yzi {
    @apply float-right transition duration-300 ease-in-out bg-main text-white font-normal py-2 px-4 mr-1 rounded;
}

.btn-yzi:hover {
    @apply bg-ym-blue;
}
.btn-yzi:disabled {
    @apply bg-ym-grey text-gray-500;
}