@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,600;1,700;1,800;1,900&display=swap');

body, html {
    @apply bg-ym-light-black h-screen;
}

.main {
    height: auto;
    min-height: 100vh;
}

button:focus {
    outline: none;
}

.btn-icon-link {
    @apply flex items-center text-white mx-4;
}

.btn-icon-link img {
    height: 1rem;
}

.btn-icon-link span {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    font-size: 1rem;
    margin-left: .35rem;
}

/* YziMusic Input */
.input {
    @apply mt-2 bg-ym-light-black rounded-lg py-2 px-4 block w-full appearance-none leading-normal text-white;
    font-weight: 500;
}

.input.--search {
    @apply rounded-r-none w-full max-w-2xl mt-0
}

.input.--light {
    @apply text-gray-700;
    background-color: white !important;
}

.input:focus {
    outline: none;
    box-shadow: none;
}

.input::placeholder {
    color: rgba(255, 255, 255, .25);
}

.input.--light::placeholder {
    color: rgba(0, 0, 0, 0.25);
}

/* YziMusic label */
.label {
    @apply text-white font-bold uppercase text-sm;
}

.label.--light {
    @apply text-gray-700;
}


.checkbox {
    @apply rounded mr-2 form-checkbox h-5 w-5 text-main;
}

.checkbox:checked {
    border-color: transparent;
    background-size: 100% 100%;
    background: currentColor url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e") no-repeat center;
}

.checkbox:focus {
    outline: none;
}

.btn-yzi {
    @apply float-right transition duration-300 ease-in-out bg-main text-white font-normal py-2 px-4 mr-1 rounded;
}

.btn-search {
    @apply transition duration-300 ease-in-out bg-main text-white font-normal py-2 px-4 rounded-r-lg
}

.btn-yzi:hover {
    @apply bg-ym-blue;
}

.btn-yzi:disabled {
    @apply bg-ym-grey text-gray-500;
}

.card-user {
    display: inline-block;
    padding: 0 1rem;
}

.card-user:first-of-type {
    padding-left: 2.5rem;
}

.card-user:last-of-type {
    padding-right: 2.5rem;
}

.scrollable-cards {
    margin-left: -2.5rem;
    margin-right: -2.5rem;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    text-align: left;
    /* Hidden scroll bar c: */
    scrollbar-width: none; /* For Firefox */
}

.scrollable-cards::-webkit-scrollbar { /* For Chrome, Safari and Opera */
    display: none;
}

.shadow-title {
    color: #0D0D0D;
    text-shadow: #7149F9 0px 0px 2px, #7149F9 0px 0px 2px,
    #7149F9 0px 0px 2px, #7149F9 0px 0px 2px;
}

.title--outline {
    position: relative;
    width: fit-content;
}

.title--outline::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: ' ';
    height: 3px;
    width: 60%;
    background-color: #7149F9;
}

.icons-social {
    height: 50px;
}

.profile-img {
    object-fit: cover;
}

.text-shadow {
    text-shadow: #000 1px 0 5rem;
}